.footer_up a {
    color:#fff;
}

section.non-index, div.non-index, .row.non-index {
    margin-top: 135px;
}

.main_header_area .header_top {
    background-color: #5E5E5E;
}

.main_header_area .header_menu {
    background-color: #767676;
}

.main_header_area .header_menu.affix .navbar.navbar-default .navbar-header .navbar-brand img {
    max-height: 100%;
    width: auto;
}

.contact_us_form .form-group:last-child {
    margin-top: 0;
}

.c_details_item .media .media-body a {
    font-size:16px;
}

.politicaprivacidad-title {
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.politicaprivacidad-sectionheader {
    margin-top:30px;
    margin-bottom:10px;
}

.Clients-video-section .video-image-box .image .overlay-link .icon-border {
    margin-top:15%;
}

.after_before_gallery .sidebar-heading-rght {
    right: -93px;
}

.why-choose-section .why-point {
    padding-top: 0;
}

@media screen and (min-width: 993px) {
    .megamenu-content.patologias {
        left: 190px !important;
        width: 70% !important;
    }

    .megamenu-content.patologias .col-menu {
        width: 50%;
    }

    .megamenu-content.tratamientos {
        left: 0px !important;
        width: 100% !important;
    }

    .megamenu-content.tratamientos .col-menu {
        width: 33%;
    }
    
    .single-sidebar-widget .nav.nav-tabs li a {
        line-height: 35px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}