.footer_up a {
    color:#fff;
}

section.non-index, div.non-index, .row.non-index {
    margin-top: 135px;
}

.main_header_area .header_top {
    background-color: #5E5E5E;
}

.main_header_area .header_menu {
    background-color: #767676;
}

.main_header_area .header_menu.affix .navbar.navbar-default .navbar-header .navbar-brand img {
    max-height: 100%;
    width: auto;
}

.contact_us_form .form-group:last-child {
    margin-top: 0;
}

.c_details_item .media .media-body a {
    font-size:16px;
}

.politicaprivacidad-title {
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.politicaprivacidad-sectionheader {
    margin-top:30px;
    margin-bottom:10px;
}

.Clients-video-section .video-image-box .image .overlay-link .icon-border {
    margin-top:15%;
}

.why-choose-section .why-point {
    padding-top: 0;
}

.service_page h4 {
    margin-top:30px;
    margin-bottom:10px;
}

.blog_pagination li.disabled {
    display: none
}

.main_blog_items .main_blogpost_item:not(:last-child) {
    border-bottom: 1px solid #000;
}

.navbar-brand {
    line-height: normal;
    height: auto;
}

.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
}

.social-responsive {
    display: inline-block;
    color: #fff;
    font-size: 27px;
    margin-top: 26px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-responsive-last {
    margin-right: 10px;
}

a.social-responsive:hover, a.social-responsive:focus {
    color: #fff;
}

.navbar-toggle {
    margin-top:26px!important;
}

.after_before_gallery .owl-nav [class*=owl-]:hover {
    background: transparent;
}

ol {
    margin: 0px;
    padding: 0px;
}

.service_list {
    padding-left:40px;
}

.service_list ul {
    list-style-type: circle;
}

.unordered_service_list {
    list-style:disc;
}

.service_content_bx {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .34px;
    color:#173d50;
    text-align: justify;
}

.service_content_bx p {
    padding-bottom: 0;
    color:#173d50;
}

.service_content_bx h2 {
    padding-top: 0;
}

.service_page {
    padding: 20px 0px;
}

.service_content_bx .image_thumb {
    margin-bottom: 20px;
}

.youtube_video_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}

.youtube_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.after_before_gallery .sidebar-heading-rght {
    right: -92px;
}

.services_page_content {
    margin-bottom: 20px;
}

.services_page_content h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.services_page_content a {
    display: block;
    color:inherit;
    line-height: 38px;
    text-align:center;
}

@media screen and (max-width: 993px) {
    .header_top {
        display: none;
    }
    .logo-white {
        margin-top:5px;
        margin-bottom:5px;
    }
}
@media screen and (min-width: 993px) {
    .social-responsive {
        display:none;
    }
    .megamenu-content.patologias {
        left: 190px !important;
        width: 70% !important;
    }

    .megamenu-content.patologias .col-menu {
        width: 50%;
    }

    /*.megamenu-content.tratamientos {
        left: 0px !important;
        width: 100% !important;
    }

    .megamenu-content.tratamientos .col-menu {
        width: 33%;
    }
    
    .single-sidebar-widget .nav.nav-tabs li a {
        line-height: 35px;
        padding-top: 9px;
        padding-bottom: 9px;
    }*/
}

@media screen and (max-width: 767px) {
    .fluid-section-one .content-column{
      position:relative;
      float:none;
      width:100%;
    }

    .after_before_gallery .owl-carousel {
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    .navbar-default .navbar-toggle {
        margin-bottom: 0px;
    }
}