.footer_up a {
    color:#fff;
}

section.non-index, div.non-index, .row.non-index {
    margin-top: 135px;
}

.main_header_area .header_top {
    background-color: #5E5E5E;
}

.main_header_area .header_menu {
    background-color: #767676;
}

.main_header_area .header_menu.affix .navbar.navbar-default .navbar-header .navbar-brand img {
    max-height: 100%;
    width: auto;
}

.contact_us_form .form-group:last-child {
    margin-top: 0;
}

.c_details_item .media .media-body a {
    font-size:16px;
}

.politicaprivacidad-title {
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.politicaprivacidad-sectionheader {
    margin-top:30px;
    margin-bottom:10px;
}

.Clients-video-section .video-image-box .image .overlay-link .icon-border {
    margin-top:15%;
}

.why-choose-section .why-point {
    padding-top: 0;
}

.service_page h4 {
    margin-top:30px;
    margin-bottom:10px;
}

.blog_pagination li.disabled {
    display: none
}

.main_blog_items .main_blogpost_item:not(:last-child) {
    border-bottom: 1px solid #000;
}

.navbar-brand {
    line-height: normal;
    height: auto;
}

.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
}

.social-responsive {
    display: inline-block;
    color: #fff;
    font-size: 27px;
    margin-top: 26px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-responsive-last {
    margin-right: 35px;
}

a.social-responsive:hover, a.social-responsive:focus {
    color: #fff;
}

.navbar-toggle {
    margin-top:26px!important;
}

@media screen and (max-width: 993px) {
    .header_top {
        display: none;
    }
    .logo-white {
        margin-top:5px;
        margin-bottom:5px;
    }
}
@media screen and (min-width: 993px) {
    .social-responsive {
        display:none;
    }
    .megamenu-content.patologias {
        left: 190px !important;
        width: 70% !important;
    }

    .megamenu-content.patologias .col-menu {
        width: 50%;
    }

    .megamenu-content.tratamientos {
        left: 0px !important;
        width: 100% !important;
    }

    .megamenu-content.tratamientos .col-menu {
        width: 33%;
    }
    
    .single-sidebar-widget .nav.nav-tabs li a {
        line-height: 35px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}